.header
    position fixed
    top 0px
    right 0
    left 0
    height 60px
    background #43BC9B
    z-index 9999
    h1
        padding 0
        margin 0
        padding-left 20px
        padding-top 10px
        color: white
        font-size 30px
        font-weight 300
        letter-spacing 1px
    button
        position absolute
        right 10px
        top 0px
        color white
        font-weight 700
        background none
        border none
        font-size 45px