.panel
    position fixed
    left 0
    right 0
    top 60px
    bottom 0
    display none
    background #fff
    z-index 9999
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    -ms-transition all 0.3s
    -o-transition all 0.3s
    transition all 0.3s
    padding 30px
    &.active
        display block
        
    .classi
        margin 0
        padding 0
        .item
            width 200px
            padding 15px
            text-align center
            background #eee
            margin 15px
            display inline-block
            text-tranform uppercase
            &.active
                background #ccc
    .voti
        margin 0
        padding 0
        text-align center
        .voto
            width 60px
            height 60px
            border-radius 50%
            line-height 60px
            text-align center
            background #eee
            margin 15px
            display inline-block
            text-tranform uppercase
    .newClasse
        position absolute
        bottom 0
        left 0
        right 0
        input
            margin 10px
            border 1px solid #222
            background white
            width 90%
            height 50px
            font-size 30px
            color #333
            text-align center
        button
            position absolute
            right 10px
            top 10px
            height 54px
            width 80px
            background #CCC
            border none
            